.jumbotron {
  background: #532F8C;
  color: white;
}

.jumbotron .btn {
  background: #a185ce;
  color: white;
  border-color: #845ac7;
  margin-left: 0.75em;
}

.jumbotron .btn:hover {
  background: #845ac7;
}

.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 1em;
}

@media only screen and (prefers-color-scheme: dark) {
  body {
    background: #121212;
    color: #fafbfc;
  }

  .alert-info {
    background-color: #284a4a;
    color: #b3bec3;
  }

  .container p {
    color: white;
  }

  .jumbotron {
    background: #200748;
    color: #fafbfc;
  }

  .jumbotron .btn {
    background: #fafbfc;
    color: #24292e;
    border-color: rgba(27,31,35,.15);
    margin-left: 0.75em;
  }
}

@media only screen and (max-width: 600px) {
  .display-2 {
    font-size: 4em;
  }
  .display-4 {
    font-size: 2.5em;
  }
}
